<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootswatch.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/breakpoints.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body class="bg-black container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/aslogo.png" class="img-fluid" width="200px" alt="AS Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarColor02" >
                    <ul class="navbar-nav mx-auto fs-6">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="About" asp-action="Index">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Index">All Services</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Details" asp-route-id="1">Website Design and Development</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Details" asp-route-id="2">E-Commerce Development</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Details" asp-route-id="3">Content Management Systems (CMS)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Details" asp-route-id="4">Web Application Development</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Details" asp-route-id="5">UI/UX Design</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Details" asp-route-id="6">Custom Software Development</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Details" asp-route-id="7">Search Engine Optimization (SEO)</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Products" asp-action="Index">Complementary services STORE</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">STORE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li> 
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cart" asp-action="Index">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="MainContainer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" data-bs-theme="dark">
		<div class="container position-relative mt-5">
			<div class="row g-4 justify-content-between">
				
				<div class="col-lg-3">
					<a class="me-0" href="index.html">
						<img class="light-mode-item" width="200px" src="~/images/aslogo.png" alt="AS logo">
					</a>
					<p class="mt-4 mb-2">Comprehensive web services company</p>
				</div>
				
				<div class="col-lg-8 col-xxl-7">
					<div class="row g-4">
						<!-- Link block 1 -->
						<div class="col-6 col-md-4">
							<h6 class="mb-2 mb-md-4">Quick links</h6>
							<ul class="nav flex-column">
                                <li class="nav-item"><a class="nav-link pt-0" asp-controller="About" asp-action="Index">About</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Services" asp-action="Index">Services</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Products" asp-action="Index">Store</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a></li>
							</ul>
						</div>

						<!-- Link block 2 -->
						<div class="col-6 col-md-4">
                            <h6 class="mb-2 mb-md-4">Community</h6>
							<ul class="nav flex-column">
                                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Faqs</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Privacy Policy</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Our News</a></li>
							</ul>
						</div>

                        <div class="col-6 col-md-4">
							<!-- Social buttons -->
							<h6 class="mb-2 mb-md-4">Follow on</h6>
                            <ul class="list-inline">
                                <li class="list-inline-item bg-dark ">
                                    <a class="btn btn-sm" href="#">
                                        <i class="fa fa-facebook-f iconStyle" style="font-size:18px"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item bg-dark">
                                    <a class="btn btn-sm" href="#">
                                        <i class="fa fa-instagram iconStyle" style="font-size:18px"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item bg-dark">
                                    <a class="btn btn-sm" href="#">
                                        <i class="fa fa-linkedin iconStyle" style="font-size:18px"></i>
                                    </a>
                                </li>
                            </ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Divider -->
			<hr class="mt-4 mb-0">

			<!-- Bottom footer -->
			<div class="d-md-flex justify-content-between align-items-center text-center text-lg-start py-4">
				<!-- copyright text -->
                <div class="text-body text-white-50"> Copyrights ©2024 AS Web Essentials. Build by <a href="#" class="text-body text-primary-50 ">ASammour</a>. </div>
				
				<!-- Language selector -->
				<div class="dropdown dropup text-center text-md-end mt-3 mt-md-0">
					<a class="dropdown-toggle btn btn-sm btn-dark mb-0" href="#" role="button" id="languageSwitcher" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-globe" style="font-size:20px;color:#9f8d8d"></i>
					</a>
					<ul class="dropdown-menu min-w-auto" aria-labelledby="languageSwitcher">
						<li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="~/images/united-kingdom.png" alt="">English</a></li>
                        <li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="~/images/sweden.png" alt="">Swedish </a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
