@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager

<ul class="navbar-nav">
	@if (signInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Index" role="button" aria-haspopup="true" aria-expanded="false">
				Hello, @User.Identity!.Name! 
			</a>
			<ul class="dropdown-menu " aria-labelledby="navbarDropdpwn">
				<li>
					<a class="dropdown-item" asp-area="" asp-controller="" asp-action="">
						My Profile
					</a>
				</li>
				<li>
					<a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index">
						My Orders
					</a>
				</li>
				<li>
					<a class="dropdown-item" asp-area="" asp-controller="Contact" asp-action="MyMessages">
						My Messages
					</a>
				</li>
				<li>
					<a class="dropdown-item" asp-area="" asp-controller="Contact" asp-action="MyTickets">
						My Tickets
					</a>
				</li>
				<li>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">
						Logout
					</a>
				</li>
				@if (User.IsInRole("admin"))
				{
					<li>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item bg-danger text-light" asp-controller="adminDash" asp-action="Index">
							AdminDashboard
						</a>
					</li>
				}
			</ul>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
		</li>
	}
</ul>
