@model IEnumerable<dynamic>

<div class="border p-3 mt-5 bg-light w-75 mx-auto">
    <div class="row pb-2">
        <h2 class="text-black">Total sales per month</h2>
        <hr />
    </div>
    <div class="chart-container">
        <canvas id="totalSalesChart"></canvas>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <a asp-controller="AdminDash" asp-action="index" class="btnClass5 btn-sm">
            Back to AdminDashBoard <i class="fa fa-angle-double-right"></i>
        </a>
    </div>
</div>
<script>
    $(document).ready(function () {
        var ctx = document.getElementById('totalSalesChart').getContext('2d');

        var labels = @Html.Raw(Json.Serialize(Model.Select(x => x.MonthName + ' ' + x.Year).ToList()));
        var data = @Html.Raw(Json.Serialize(Model.Select(x => x.TotalSales).ToList()));

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Total Sales',
                    data: data,
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                    borderColor: 'rgb(75, 192, 192)',
                    borderWidth: 1,
                    fill: false
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            callback: function (value, index, values) {
                                console.log('Value:', value);
                                console.log('Formatted Value:', '$' + value.toLocaleString());
                                return '$ ' + value.toLocaleString(); 
                            }
                        }
                    }
                }
            }
        });
    });
</script>

